
body{
	font: sans-serif;
	font-family:sans-serif;
	background-color: #e3e0e0;
}
.header {
    border-width: 4px;
    border-color: #FFDEAD;
    border-style: outset;
    background-color: #BC8F8F;
    height: 48px;
    text-align: center;
    padding-top: 20px;
}

.footer{
    color: black;
    background-color: #b9b9b9;
    height: 70px;
    padding-left: 25px;
    border-color: #d9e4f9;
    border-style: outset;
    border-width: 4px;
    text-align: center;
    font-size: 26px;
}

.middle{
	text-align: center;

}

.left{
    text-align: left;
   
}

.image {
    display: block;
	margin-left: auto;
	margin-right: auto; 
    height: 420px;
    width: 350px;
}
