
body{
	font: sans-serif;
	font-family:sans-serif;
	background-color: #FFFFFF;
}

.header {
	background: #FFFFFF;
	width: 98%;
	margin: 1em auto;
	padding: 1px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	
}

.header h1 {
	margin-left: auto;
    margin-right: auto;
    width: 30em;
}

.header p {
	margin-left: auto;
    margin-right: auto;
    width: 60em;

}

.footer {
	background: #FFFFFF;
	width: 98%;
	margin: 1em auto;
	padding: 1em;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	text-align: center;
	
}
	
/*.header {
	
    border-width: 4px;
    border-color: #d9e4f9;
    border-style: solid;
    background-color: #b9b9b9;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.footer{
    color: black;
    background-color: #b9b9b9;
    height: 70px;
    padding-left: 25px;
    border-color: #d9e4f9;
    border-style: outset;
    border-width: 4px;
    text-align: center;
    font-size: 26px;
}*/

.middle{
	margin-left: auto;
    margin-right: auto;
    width: 60em;
	text-align: left;

}

.left{
	margin-left: auto;
    margin-right: auto;
    width: 60em;
    text-align: left;
   
}

.image {
    display: block;
	margin-left: auto;
	margin-right: auto; 
    height: 420px;
    width: 350px;
}
